.App {
  text-align: center;
  background-color: #0a192f;
  height: 100vh;
  font-family: "Roboto Mono";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Main-logo {
  cursor: pointer;
}
.Index-number {
  color: #3f9f92;
}
.Pages-index {
  display: flex;
  font-size: 1rem;
  gap: 20px;
  align-items: center;
}
.App-header {
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 10px;
  margin-left: 3rem;
  margin-right: 3rem;
}
.Body-minor-title {
  color: #2accd2;
  font-weight: 600;
  margin-top: 11px;
  letter-spacing: 2px;

  margin-bottom: 11px;
}
.Body-major-title {
  color: #ccd6f6;
  margin-top: 11px;
  margin-bottom: 11px;
  font-size: 5rem;
}
.App-body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 88%;
  margin-left: 10%;
}

.Body-description {
  width: 50%;
  color: #8892b0;
  text-align: justify;
  margin-bottom: 4rem;
}

.Body-subtitle {
  color: #8892b0;
  font-size: 4.5rem;
  margin-top: 11px;
  margin-bottom: 2px;
}
.Index-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.Button {
  background-color: #0a192f;
  border: 2px solid #1e9ea3;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;

  color: #1e9ea3;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
